.nav-link {
text-transform: uppercase !important;
}

.container-navbar {

    min-height: 10vh;
}

@media (min-width: 576px){
.navbar-expand-sm .navbar-collapse {
    display: flex!important;
    flex-direction: column;
}}